{# src/Test/CrudBundle/Resources/views/Animal/add.html.twig #}

{% extends "TestCrudBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter une animal</h2>

  {{ include("TestCrudBundle:Animal:form.html.twig") }}

  <p>
    Attention : cette animal sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>

  <p>
    <a href="{{ path('test_crud_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
  </p>
{% endblock %}
