{# src/Test/CrudBundle/Resources/views/Animal/edit.html.twig #}

{% extends "TestCrudBundle::layout.html.twig" %}

{% block title %}
  Modifier un animal - {{ parent() }}
{% endblock %}

{% block testcrud_body %}

  <h2>Modifier un animal</h2>

  {{ include("TestCrudBundle:Animal:form.html.twig") }}

  <p>
    <a href="{{ path('test_crud_homepage') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
  </p>

{% endblock %}
